{
  "plugins": [
    "babel"
  ],
  "extends": "airbnb",
  "rules": {
    "linebreak-style": "off",
    "semi": ["error", "never"],
    "import/prefer-default-export": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": "off",
    "import/imports-first": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "class-methods-use-this": "off",
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/array-bracket-spacing": 1,
    "babel/object-curly-spacing": "off",
    "babel/object-shorthand": 1,
    "babel/no-await-in-loop": 1,
    "babel/flow-object-type": 1,
    "babel/func-params-comma-dangle": 1
  }
}